.result_location{ margin-left: -15px; margin-right: -15px;}
.result_location ul{ margin: 0; padding: 0px; width: 100%; display: flex;  flex-wrap: wrap;}
.result_location ul li{ margin:15px 2%; padding: 15px 0px; border: 1px solid #cfcfcf; width: 12.66%; border-radius: 5px; font-weight: 600;}

@media (max-width: 992px){
 .result_location{
  margin: 0;
 }
 .result_location ul li{
  width: 20%;
 }
 .radio_box_section {
  display: inline-flex!important;
  flex-wrap: wrap;
 }
 .radio_box_section .custom-control{
  width: 50%;
  margin: 10px 0!important;
 }
}

@media (max-width: 599px){
 .result_location ul li{
  width: 46%;
 }
}