.otpform input {
  margin: 0 5px;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 0px;
  width: 80px!important;
}
.customer_enq_wrp .otpform input[type="text"]{
     padding: 4px 0!important
}
.otpform input::-moz-selection {
  background: transparent;
}
.otpform input::selection {
  background: transparent;
}
#otpForm {
	display: none;
}