

.subtabs_eligibility{
  border-bottom: solid 1px #ccc;
  padding: 0px;
  margin-top: -1px;
}
.subtabs_eligibility .nav-tabs{
  background: #fff;
    flex-wrap: nowrap;
    white-space: nowrap;
  
}
.subtabs_eligibility .nav-tabs .nav-item{
 position: relative;
 padding-right: 0;
 margin-right: 25px;
 margin-bottom: 0;
    width: auto;
}
.subtabs_eligibility .nav-tabs .nav-item:last-child{
 margin-right: 0;
 padding-right: 0;
}
.subtabs_eligibility .nav-tabs .nav-item:after{
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    content: "";
}
.subtabs_eligibility .nav-tabs .nav-item:last-child:after{
 display: none;
}
.subtabs_eligibility .nav-tabs .nav-link{
  background-color: #fff!important;
    color: #2b2926!important;
  padding: 12px 0;
}
.subtabs_eligibility .nav-tabs .nav-link:before{
position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    background-color: #f29d39;
    content: "";
    width: 0;
    transition: all 0.3s;
}
.subtabs_eligibility .nav-tabs .nav-link.active:before{
 width: 100%;
}
.subtabs_eligibility .nav-tabs .nav-link.active:after{
 display: none;
}
.subtabs_eligibility .nav-tabs .nav-link.active{
 color: #832625!important;
 font-weight: bold;
}
.subtabs_eligibility ul li{
  border: none!important;
}
.horizontal-tabs-container.scrollingtabs.subtabs_eligibility:after{
  display: none;
}